.heroContainer {
  position: relative;
  width: 33rem;
  height: 33rem;
  overflow: hidden;
}

.gradientContainer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.gradientCircle {
  width: 25rem;
  height: 25rem;
  background: linear-gradient(0deg, #29c64a, #0091e0);
  border-radius: 50%;
  transform: rotate(0deg);
  animation: animate 6s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.imageContainer {
  width: 30rem;
  height: 30rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.image {
  width: 100%;
  height: 35rem;
  filter: drop-shadow(2px 4px 6px black);
  object-fit: cover;
  object-position: top 5% left 55px;
  transform: rotate(10deg);
}

.nameContainer {
  z-index: 2;
  position: absolute;
  width: 100%;
  bottom: -1.5%;
}

.nameContainer p {
  font-size: 6rem;
  font-weight: 1000;
  text-align: center;
  margin: 0;
  line-height: 82px;
  filter: drop-shadow(2px 4px 6px black);
  background: -webkit-linear-gradient(90deg, #00c461, #c2fa39);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px), (max-height: 772px) {
  .heroContainer {
    width: 21rem;
    height: 21rem;
  }

  .gradientCircle {
    width: 17rem;
    height: 17rem;
  }

  .nameContainer {
    bottom: -5.8%;
  }

  .nameContainer p {
    font-size: 3.5rem;
  }

  .imageContainer {
    width: 20rem;
    height: 20rem;
    overflow: hidden;
  }

  .image {
    width: 100%;
    height: 22rem;
    object-position: top 5% left 30px;
  }
}
