.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.smallHeadTyped {
  font-size: 3rem;
  text-align: center;
}

.buttonContainer {
  text-align: center;
}

.button {
  color: black;
  background-color: white;
  font-size: 1.5rem;
  font-weight: bold;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 5px;
  transform: translate(-10px, -10px);
  box-shadow: 10px 10px #29c64a;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0px 0px #29c64a;
  transform: translate(0px, 0px);
  transition: all 0.5s ease-in-out;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px), (max-height: 772px) {
  .smallHeadTyped {
    font-size: 2rem;
  }
}
