.container {
  position: absolute;
  top: 4.5%;
  left: 0;
  background-color: #18181b;
  border-radius: 15px;
  box-shadow: 2px 2px #595959;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  z-index: 99;
}

.menu {
  width: 70%;
  background-color: #262629;
  padding: 6px 2px;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 1px 1px #595959;
}

.imageContainer {
  display: grid;
  place-items: center;
}

.menuImage {
  width: 60%;
  object-fit: contain;
  filter: grayscale(1) drop-shadow(rgba(0, 0, 0, 0.8) 3px 5px 2px);
}

.menu:hover .menuImage {
  filter: grayscale(0);
}

/* On screens that are 992px wide or less */
@media screen and (max-width: 992px) {
  .container {
    width: 70px;
    padding: 14px 6px;
  }
}

/* On screens that are 772px high or less */
@media screen and (max-height: 772px) {
  .container {
    top: 4%;
    width: 60px;
    padding: 10px 4px;
  }

  .menu {
    width: 80%;
    padding: 8px 1px;
  }

  .menuImage {
    width: 50%;
  }
}

/* On screens that are 572px high or less */
@media screen and (max-height: 572px) {
  .container {
    width: 8.5vw;
    top: 0;
    left: 2vw;
    height: 80px;
    padding: 1.5px 6px;
  }

  .menu {
    width: 80%;
  }
}

/* On screens that are 992px wide or more  and 572 high or less */
@media screen and (min-width: 992px) and (max-height: 572px) {
  .container {
    height: 88px;
    padding: 7px;
  }
}