.App {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: url("./assets/images/background.jpg") no-repeat center center;
  background-color: rgb(32 33 30);
  background-blend-mode: luminosity;
  background-size: cover;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.App-link {
  color: #61dafb;
}